* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

body {
    background: whitesmoke;
}


header {
    position: sticky;
    display: block;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: black 2px solid;
}

/* Beginning of social-wrapper part of header */

.social-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #3B8BEB;
}

.social-wrapper ul {
    display: flex;
    list-style: none;
}

.social-wrapper ul a {
    margin-left: 10px;
}

.contact-icon {
    width: 40px;
}

.header-phone {
    text-decoration: none;
    font-size: 24px;
    font-family: 'Kanit';
    font-weight: 550;
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-style: oblique;
}

.share a span {
    font-size: 18px;
}

/* Begining of nav-wrapper */
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background: lightgrey;
}

.va-cert {
    width: 100px;
    height: 92.94px;
}

.header-middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.nav-menu li {
    width: 150px;
}

.nav-menu a {
    text-decoration: none;
    color: #3B8BEB;
    font-size: 18px;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
}

.nav-menu a:hover {
    background-color: #3B8BEB;
    color: #ffffff;
}

.header-middle p {
    font-family: 'Kanit';
    width: 80%;
    margin-bottom: 20px;
    margin: 0 auto;
    color: black;
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    line-height: 1.3;
    text-align: left;
    margin-bottom: 20px;
}

.main {
    /* background: chartreuse; */

}

.info-wrapper {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
    border-bottom: black solid 2px;
}

.section-title {
    color: #3B8BEB;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.text-level-1 {
    font-weight: normal;
    font-size: 24px;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-level-2 {
    font-weight: normal;
    font-size: 20px;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main ul {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.main li {
    font-weight: normal;
    font-size: 18px;
    font-style: oblique;
    line-height: 1.5;
}

.description-box {
    /* width: 90%; */
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-start;
    border: #3B8BEB solid 2px;
    overflow-wrap: normal;
    padding: 15px;
    margin-top: 10px;
    background: white;
}

.icon-box {
    color: #3B8BEB;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    padding: 10px;
}

.material-icons {
    font-size: 90px;
    width: 220px;
}

.description-box h4 {
    text-align: justify;
    margin-top: 10px;
}

.review-header {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #3B8BEB;
    font-size: 24px;
    font-weight: normal;
    text-align: center;

}


/* Misc Formatting */
.bold-text {
    font-weight: bold;
}


@media screen and (max-width: 1100px) {
.description-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
.icon-box {
    width: 100%;
}
.material-icons {
    width: 100%;
}
}

@media screen and (max-width: 950px) {
    
}
