* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}


header {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    background-color: #ffffff;
    top: 0;
    z-index: 999;

}


.share {
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: rgb(97, 194, 72);;
}

.share a {
    text-decoration: none;
    font-size: 24px;
    color: #ffffff;

}

.jumbotron {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 20px;
}

.jumbotron img {
    width: 25%;
    margin: 0 auto;
}

.jumbotron p {
    color: white;
    width: 60%;
    margin: 0 auto;
    font-size: 2.0em;
    font-style: italic;
    margin-bottom: 25px;
    line-height: 1.5;
}

header ul {
    list-style-type: none;
}

.main {
    margin-top: 25px;
    background-color: white;
}

.description-box {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    align-items: flex-start;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom:#3B8BEB solid 2px;
}

.description-box .icon-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin: 0% auto;
}

.description-box p {
    padding-left: 50px;
    font-size: 35px;
    color: #3B8BEB;
}

.description-box span {
    font-size: 100px;
    color: #3B8BEB;
    padding-left: 5px;
}

.description-box article {
    padding-left: 5px;
}


