* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

header {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    background-color: #ffffff;
    top: 0;
    z-index: 999;

}

.share {
    width: 100%;
    padding: 5px 20px;
    border-bottom: black 1px solid;
    background-color: rgb(97, 194, 72);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.share img {
    width: 36px;
}

.share ul {
    display: flex;
    list-style-type: none;
}

.share li {
    margin-top: 5px;
}

.share li a {
    margin-left: 10px ;
}

.share span {
    padding: 5px;
}

.share a {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.share a span {
    font-size: 18px;
    font-style: italic;
}

.logo-block {
    display: flex;
    padding: 15px;
    background-color: rgb(221, 219, 219);
    border-bottom: black 1px solid;
}

.logo-block .menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
}

.logo-block p {
    font-family: 'Kanit';
    font-size: 22px;
    line-height: 1.8;
    margin: 0 auto;
}

.nav-menu {
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
}

.nav-menu li {
    width: 170px;
}

.nav-menu a {
    text-decoration: none;
    color: #3B8BEB;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
}

.nav-menu a:hover {
    background-color: #3B8BEB;
    color: #ffffff;
}

.jumbotron {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 20px;
}

.jumbotron img {
    width: 300px;
    margin: 0 auto;
}

.jumbotron p {
    color: white;
    width: 60%;
    margin: 0 auto;
    font-size: 2.0em;
    font-style: italic;
    margin-bottom: 25px;
    line-height: 1.5;
}


.main {
    margin-top: 25px;
    background-color: white;
}

h2 {
    font-size: 48px;
    color: #3B8BEB;
    font-weight: normal;
    text-align: center;
    margin-bottom: 10px;
}

h3 {
    font-size: 24px;
    font-weight: normal;
    margin: 0 auto;
    margin-bottom: 25px;
    width: 75%;
}

.description-box {
    display: flex;
    width: 60%;
    margin: 0 auto;
    align-items: center;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom:#3B8BEB solid 2px;
}

.icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description-box p {
    font-size: 35px;
    text-align: center;
    width: 300px;
    color: #3B8BEB;
}

.description-box span {
    font-size: 100px;
    color: #3B8BEB;
}

.description-box article {
    padding-left: 5px;
}

footer {
    border-top: black 1px solid;
    padding-top: 20px;
    height: 75px;
    background-color: rgb(97, 194, 72);
}

footer p {
    text-align: center;
    font-size: 20px;
    color: black;
}



